## For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.
- Has the network latency gone up since we switched internet service providers?
- Is the website redesign any good?
- Is our television ad driving more sales?

## 1) Has the network latency gone up since we switched internet service providers?
### formulate a null and alternative hypothesis 
- There is not change in latency since switching internet providers
- Latency has increasd since switching service providers
### give an example of what a true positive, true negative, type I and type II errors would look like.
- True Positive: Predicted latancy increased when it increased
- True Negative: Predicted latancy decreased when it decreased
- Type I Error(False Positive): Predicted latency increased when it decreased
- Tyupe II Error (False Negative): Predicted latency decreased when it increased

## 2) Is the website redesign any good?
### formulate a null and alternative hypothesis 
- Visits to the website has not changed since the redesign?
- Visits increased in visits since the website redesign?
### give an example of what a true positive, true negative, type I and type II errors would look like.
- True Positive: Predicted Increase and increased
- True Negative: Predicted No Increase and No Increase
- Type I Error(False Positive): Predicted increase and didn't
- Tyupe II Error (False Negative): Predicted no increase and did

## 3) Is our television ad driving more sales?
### formulate a null and alternative hypothesis 
- Sales has not changed since TV ad published
- Sales increased since TV ad published
## give an example of what a true positive, true negative, type I and type II errors would look like.
- True Positive: Predicted visits increase and did
- True Negative: Predicted no increase invisits and didn't
- Type I Error(False Positive): Predicted increase and didn't
- Tyupe II Error (False Negative): Predicted decrease and didn't

## Exercises T-Testing

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.


**Hypothesis**

$H_{0}$: Average time to sell homes is NOT DIFFERENT between Office1 and Office2

$H_{0}$: Average time to sell homes is DIFFERENT between Office1 and Office2

**Significance Levels**

$\alpha$ = .05 

**Verify Assumpiton**

- Normal:
- Independdent:
- Variance:

Test Type:
2 Sample (ind), 2 Tail

In [2]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# set alpha
α = .05

In [49]:
t, p = stats.ttest_ind_from_stats(90, 15, 40, 100, 20, 50, equal_var=False)
t, p, α

(-2.7091418459143854, 0.00811206270346016, 0.05)

### p < alpha = reject H0

## Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

In [39]:
from pydataset import data
mpg = data('mpg')

In [40]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [41]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

### - Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- H0: Fuel-efficiency has NO DIFFERENCE between 2008 and 1999
- H1: Fuel-efficiency has DIFFERNCE bettween 2008 and 1999

In [48]:
mpg['fuel_efficiency'] = (mpg.cty + mpg.hwy)/2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [43]:
mpg.year.unique()

array([1999, 2008])

In [45]:
cars_2008 = mpg[mpg.year == 2008].fuel_efficiency
cars_2008.head()

3     43.0
4     44.0
7     41.0
10    43.0
11    42.0
Name: fuel_efficiency, dtype: float64

In [46]:
cars_1999 = mpg[mpg.year == 1999].fuel_efficiency
cars_1999.head()

1    41.0
2    44.0
5    39.0
6    41.0
8    41.0
Name: fuel_efficiency, dtype: float64

In [50]:
cars_1999.var() == cars_2008.var()

False

alpha = .05
normal: Yes
independent: Yes
variance: False

In [55]:
alpha = .05
t, p = stats.ttest_ind(cars_2008, cars_1999, equal_var=False)
t, p, alpha

(-0.5674988409997671, 0.5709289258613188, 0.05)

### 2 sample, 2 tail Test: 
### p > alpha = Fail Reject of H0

## Are compact cars more fuel-efficient than the average car?
### H0: Compact car fuel-efficiency <= Average Car
### H1: Compact car fuel-efficiency > Average Car
#### Test: 1 Sample, 1 Tail

In [58]:
mpg['class'].unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [61]:
# find mean of all cars
avg_car_fuel_efficiency = mpg.fuel_efficiency.mean()
avg_car_fuel_efficiency

20.14957264957265

In [69]:
# build Series for compact car fuel efficiency
compact_car = mpg[mpg['class'] == 'compact'].fuel_efficiency
compact_car.head()

1    23.5
2    25.0
3    25.5
4    25.5
5    21.0
Name: fuel_efficiency, dtype: float64

In [70]:
alpha = .05

In [88]:
t, p = stats.ttest_1samp(compact_car,avg_car_fuel_efficiency)
t, p/2, alpha

(7.896888573132535, 2.0992818971585668e-10, 0.05)

### p < alpha and t > 0 = reject H0 (compact car fuel-efficiency > than average car

## Do manual cars get better gas mileage than automatic cars?
### H0: Manuela car gas mileage <= automatic cars gas mileage
### H1: Manual cars gas mileage > automatic cars gas mileage

#### Test: 2 Sample, 1 Tail
#### Normal: Yes
#### Independent: Yes
#### Variance: No

In [82]:
# create series for manual fuel efficiency
manuals = mpg[mpg.trans.str.contains('manual')].fuel_efficiency

In [84]:
# create sereis for automatic fuel efficiency
auto = mpg[mpg.trans.str.contains('auto')].fuel_efficiency

In [85]:
# check if variances equal
manuals.var() == auto.var()

False

In [89]:
# find t,p for 2 sample test with 1 tail
t, p = stats.ttest_ind(manuals, auto, equal_var=False)
t, p/2, alpha

(4.443514012903071, 8.976124499958965e-06, 0.05)

### p < alpha & t > 0 = reject H0 (manual car gas mileage is > than automatic cars gas mileage